body, #root {
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items to the start of the container */
  align-items: center;
  background: #fff;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
}

canvas {
  width: 100%;
  height: 100%;
  /* border: 2px solid #000; */
  text-align: center;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 25vh; /* Adjust the top margin to push the title up */
  margin-bottom: 2vh; /* Small bottom margin for spacing */
  text-align: center;
  color: #000;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 100%;
  margin-top: 2vh;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  background: #fff;
  text-align: center;
}


.button {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  margin: 20px 0;
  border: 2px solid #000;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.file-input {
  display: none;
}

.drop-zone {
  width: 60%;
  height: 50px;
  border: 3px dashed #000;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  transition: border-color 0.3s ease;
}

.drop-zone:hover {
  border-color: #000;
  background-color: #f0f0f0;
}

.pdf-container {
  display: block;
  max-height: 75vh;
  overflow-y: auto; /* Keeps vertical scroll */
  width: auto; /* Allows container to shrink to fit the content width */
  margin: 0 auto; /* Centers the container */
  border: 2px solid #000;
  box-sizing: border-box;

}

.wrapper-div {
  margin: 0 auto; /* Centers the wrapper div */
}
