body, #root {
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
}

canvas {
  width: 100%;
  height: auto;
  text-align: center;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 25vh;
  margin-bottom: 2vh;
  text-align: center;
  color: #000;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-top: 2vh;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  background: #fff;
  position: relative; /* Needed for absolute positioning of the back button */
  text-align: center;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  margin: 20px 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.drop-zone {
  width: 60%;
  height: 50px;
  border: 3px dashed #000;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  transition: border-color 0.3s ease;
}

.drop-zone:hover {
  border-color: #000;
  background-color: #f0f0f0;
}

.pdf-container {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  width: auto;
  margin: 0 auto;
  border: 2px solid #000;
  box-sizing: border-box;
}

.wrapper-div {
  margin: 0 auto;
}

.mode-selection .button {
  margin-right: 20px;
}

.back-button {
  background: none;
  color: #000;
  font-style: italic;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
}

/* New styles for the verification section */
.verification-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.verification-section .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.verification-section .input-wrapper label {
  margin-right: 10px;
}

.verification-section .input-field {
  flex-grow: 1;
  margin-left: 10px; /* Space between label and input field */
  padding: 10px;
  border: 1px solid #ccc;
}

.upload-icon {
  cursor: pointer;
  background: url('./images/upload.png') no-repeat center;
  background-size: contain;
  border: none;
  width: 30px;
  height: 30px;
  margin-left: 10px; /* Adjust space between input and icon */
}

.verification-result {
  text-align: center;
  font-weight: bold;
}

/* Hidden file input */
.file-input {
  display: none;
}

/* Add media query if responsiveness is needed */
@media (max-width: 768px) {
  .verification-section .input-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .verification-section .input-field {
    margin-left: 0;
    margin-top: 5px;
  }

  .upload-icon {
    margin-top: 5px;
    margin-left: 0;
  }
}
